body{
	background-color:  #203469;
	color: white;
}

h1{
	font-family: helvetica;
}

.emphasisText
{
	color:	#dfdf20;
	font-size: 20px;
	display:inline;
}

#title
{
	font-family:Georgia;
	text-align: center;
	font-size:25px;
}

.intro{
    font-family:Georgia;
    margin:auto;
    padding:10px;
    line-height: 30px;
}

.bullets{
    background-color:white;
}

big{
    font-family:Arial
    text-size:30dp
}

#summary{
	display:inline;
}