<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="millionkids.millionkidseducation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menuUI.About"
            android:label="About"/>
        <activity android:name=".menuUI.LearnMore"
            android:label="Learn More"/>
        <activity android:name=".menuUI.Help"
            android:label="Help"/>
        <activity android:name=".menuUI.Settings"
            android:label="Settings"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.MainHomePage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Parent.ParentHome"
            android:label="Parent Home"
            android:screenOrientation="portrait"/>
        <activity android:name=".Children.ChildrenHome" />
    </application>

</manifest>