body{
	background-color: #333333;
	color: white;
}

h1{
	

}
.emphasisText
{
	color:	#dfdf20;
	font-size: 20px;
	display:inline;
}

#title
{
	font-family:Georgia;
	text-align: center;
	font-size:25px;
}

#topic1,#topic2, #topic3, #topic4, #topic5
{
	background-color: white;
	width: 100%;
	height: 30px;
	color:black;
	border-radius:15px;
	font-size:15px;
}

#p1,#p2, #p3, #p4, #p5
{
	height:0px;
	overflow:hidden;
	-moz-transition:all .5 linear;
	-webkit-transition: all .5 linear;
	-o-transition: all .5 linear;
	transition:all .5 linear;
}

.content-box{
    font-family:Georgia;
    margin:auto;
    padding:10px;
    line-height: 30px;
}
