body{
	background-color:  #203469;
	font-family:"Helvetica";
	color: white;
}

h1
{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.border-box
{
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),
	0 4px 20px 0 rgba(0,0,0,0.19);
	text-align:justify;
	color:#333333;
    border-style:solid;
    border-width: 5px;
    border-color:#ebeff9;
    margin-bottom:10px;
    padding:5px;
    background-color:white;
    border-radius: 5px;

}

.content-divider
{
	margin:80px 0;
}
#test
{
	position:relative;
	width:100%;
}

#test p
{
	position: absolute;

}
.emphasisText
{
	color:	#dfdf20;
	font-size: 20px;
	display:inline;
}

#title
{
	font-family:Georgia;
	text-align: center;
	font-size:25px;
}

.intro{
    font-family:Georgia;
    margin:auto;
    padding:10px;
    line-height: 30px;
}

.bullets{
    background-color:white;
}


big{
    font-family:Arial
    text-size:30dp
}

#summary{
	display:inline;
}